div {
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
.lightgreen {
    background: lightgreen;
    width: 500px;
}
.skyblue {
    background: skyblue;
}
.pink {
    background: pink;
}
.lavender {
    background: lavender;
    height: 80px;
    margin-bottom: 30px;
    width: 60%;
}