body {
    background: thistle;
}

.container div {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    margin: 10px;
    margin-left: 0;
}

.blue {
    background: blue;
}

.green {
    background: lawngreen;
}

.orange {
    background: orangered;
}